<nav class="navbar navbar-expand-lg navbar-dark">
  <img
    src="../../assets/imgs/logo-white.png"
    class="navbar-logo clickable"
    (click)="redirect('')"
  />
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" *ngIf="!appComp.isLogged">
      <li class="nav-item">
        <a class="nav-link clickable" (click)="redirect('/cook-info')">Koch Werden</a>
      </li>
      <li class="nav-item">
        <a class="nav-link clickable" (click)="redirect('/about-us')">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link clickable" (click)="redirect('/shopping-cart')">
          <fa name="shopping-cart"></fa> Shopping Cart
          <span class="text-700"> ({{ getCartTotal() }})</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle clickable"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <fa name="user"></fa> My Account
        </a>
        <div class="dropdown-menu">
          <a
            class="dropdown-item clickable"
            (click)="redirect('/dashboard/edit-profile')"
            >Edit Profile</a
          >
          <a
            class="dropdown-item clickable"
            (click)="redirect('/dashboard/messages')"
            >Messages</a
          >
          <a class="dropdown-item clickable" (click)="redirect('/wishlist')"
            >Wishlist</a
          >
          <a
            class="dropdown-item clickable"
            (click)="redirect('/dashboard/your-reviews')"
            >Your Reviews</a
          >
          <a
            class="dropdown-item clickable"
            (click)="redirect('/dashboard/your-ratings')"
            >Your Ratings</a
          >
          <a
            class="dropdown-item clickable"
            (click)="redirect('/dashboard/history')"
            >History</a
          >
          <a
            class="dropdown-item clickable"
            (click)="redirect('/dashboard/items-sale')"
            >Items for Sale</a
          >
          <div *ngIf="data">
            <div class="dropdown-divider"></div>
            <a
              class="dropdown-item clickable"
              (click)="redirect('/admin-panel')"
              >Admin Panel
            </a>
          </div>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item clickable" (click)="redirect('/post-item')"
            >Post an Item</a
          >
          <a
            *ngIf="appComp.isLogged"
            class="dropdown-item clickable"
            (click)="logout()"
            >Log Out</a
          >
        </div>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!appComp.isLogged">
      <li class="nav-item">
        <a class="nav-link clickable" (click)="redirect('/cook-info')">Koch Werden</a>
      </li>
      <li class="nav-item">
        <a class="nav-link clickable" (click)="redirect('/about-us')">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link clickable" (click)="redirect('/register')">
          <fa name="user-plus"></fa> Register</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link clickable" (click)="redirect('/login')">
          <fa name="key"></fa> Log in
        </a>
      </li>
    </ul>
  </div>
</nav>
