@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



a * {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

::selection {
background: #3fa32b !important;
}

.container {
    box-sizing: border-box;
}

.background{
    background-image: url('/../../../assets/imgs/marble2.jpg');
    position: fixed;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    width: -webkit-fill-available;
    overflow:auto;

    /* font-family: monospace; */
    font-family: 'PT Sans', sans-serif;
    }

body {

    background-color: lightblue;
}

nav,
.wrapper {
    padding: 10px 50px
    
}

nav .logo a {
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none
}

input,
select,
textarea {
  color: #eee !important;
  /* background-color: #272D35;
  border: 1px solid #3fa32b;
  border-radius: 30px; */
  border: none;
  background: rgba(0, 0, 0, 0.0);
  border-bottom: 1px solid #3fa32b
}

input:focus,
select:focus,
textarea:focus {
  color: #eee;
  /* background-color: #272D35;
  border: 1px solid #3fa32b;
  border-radius: 30px; */
  border: none;
  background: rgba(0, 0, 0, 0.0);
  border-bottom: 1px solid #3fa32b
}

.bg-light {
    background-color: #000; 
    background: rgba(0, 0, 0, 0.6) !important;
    box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 33%) !important;
    color: #d3d3d3 !important;
    border-radius: 8px !important;
    margin-bottom: 60px!important;
}

.bg-white {
    background: rgba(0, 0, 0, 0.6) !important;
    box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 33%) !important;
    color: #d3d3d3 !important;
    border-radius: 8px !important;
}

.text-primary{
    color:#ffffff!important;
}

/* change color of hidden text for coupons */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: #3fa32b;
opacity: 0.7; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #3fa32b;
}

::-ms-input-placeholder { /* Microsoft Edge */
color: #3fa32b;
}


.h6{
    color: #ffffff;
    font-size: 1.2rem;
    border-bottom: solid #3fa32b;
    /* font-weight: 700; */
}

.h6 a {
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
}

.h5.large{
    color: #ffffff;
    border-bottom: solid #3fa32b;
}

.h5.mobile{
    color: #ffffff;
    border-bottom: solid #3fa32b;
}

.h5.font-weight-bold.text-primary{
    color: #ffffff;
    border-bottom: solid #3fa32b;
}

.pb-3{
    color:#ffffff!important;
}

nav div.ml-auto a {
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8rem
}

header {
    padding: 20px 0px
}

header .active {
    font-weight: 700;
    position: relative
}


header .active .fa-check {
    position: absolute;
    left: 50%;
    bottom: -27px;
    background-color: #fff;
    font-size: 0.7rem;
    padding: 5px;
    border: 1px solid #3fa32b;
    border-radius: 50%;
    color: #3fa32b;
}

.progress {
    height: 2px;
    background-color: #ccc
}

.progress div {
    display: flex;
    align-items: center;
    justify-content: center
}

.progress .progress-bar {
    width: 40%
}

#details {
    padding: 20px 20px;
    min-height: 300px
}

input {
    border: none;
    outline: none
}

.form-group .d-flex {
    border: 1px solid #ddd
}

.form-group .d-flex input {
    width: 95%
}

.form-group .d-flex:hover {
    color: #000;
    cursor: pointer;
    border: 1px solid #3fa32b;
}

.form-control{
    border: 1px solid #ddd
}

.form-control:hover {
    color: #000;
    cursor: pointer;
    border: 1px solid #3fa32b;
}


select {
    width: 100%;
    padding: 8px 5px;
    border: 1px solid #ddd;
    border-radius: 5px
}

select:hover {
    width: 100%;
    padding: 8px 5px;
    border: 1px solid #3fa32b;
    border-radius: 5px
}

input[type="checkbox"]+label {
    font-size: 0.85rem;
    font-weight: 600
}

#address,
#cart,
#summary {
    padding: 20px 20px;
}

#address .d-md-flex p.text-justify,
#register p.text-muted {
    margin: 0
}

#register {
    background: rgb(63, 161, 43,0.8) !important;
}

#register a {
    text-decoration: none;
    color: #333
}

#cart,
#summary {
    max-width: 500px;
}



.text-muted{
    color: #ffffff!important;

}

.w-100{
    color: #ccc;
    
}

.item img {
    object-fit: cover;
    border-radius: 5px
}

.item {
    position: relative
}

.number {
    position: absolute;
    font-weight: 800;
    color: #fff;
    background-color: #3fa32b;
    padding-left: 7px;
    border-radius: 50%;
    border: 1px solid #fff;
    width: 25px;
    height: 25px;
    top: -5px;
    right: -5px
}

.display-5 {
    font-size: 1.2rem
}

#cart~p.text-muted {
    margin: 0;
    font-size: 0.9rem
}

tr.text-muted td {
    border: none
}

.fa-minus,
.fa-plus {
    font-size: 0.7rem
}

.fa-shield-alt{
    color: #3fa32b!important;
}

.table td {
    padding: 0.3rem
}

.btn.text-uppercase {
    width: 230px;
    height: 60px;
    border: 1px solid #333;
    font-weight: 600;
    border-radius: 5px;
    display: table-cell;
}

.btn.text-uppercase:hover {
    background-color: #333;
    color: #eee
}

.btn.text-white {
    width: 230px;
    height: 60px;
    background-color: #3fa32b;
    border-radius: 5px;
    display: table-cell;
}

.btn.text-white:hover {
    background-color: rgb(100, 28, 255)
}

.wrapper .row+div.text-muted {
    font-size: 0.9rem
}

.mobile,
#mobile {
    display: none
}

.buttons {
    vertical-align: text-bottom;
    margin-bottom:60px!important;
    width: fit-content;
}

#register {
    width: 50%
}

@media(min-width:768px) and (max-width: 991px) {
    .progress .progress-bar {
        width: 33%
    }

    #cart,
    #summary {
        max-width: 100%
    }

    .wrapper div.h5.large,
    .wrapper .row+div.text-muted {
        display: none
    }

    .mobile.h5,
    #mobile {
        display: block
    }
}

@media(min-width: 576px) and (max-width: 767px) {
    .progress .progress-bar {
        width: 29%
    }

    #cart,
    #summary {
        max-width: 100%
    }

    .wrapper div.h5.large,
    .wrapper .row+div.text-muted {
        display: none
    }

    .mobile.h5,
    #mobile {
        display: block
    }

    .buttons {
        width: 100%
    }
}

@media(max-width: 575px) {
    .progress .progress-bar {
        width: 38%
    }

    #cart,
    #summary {
        max-width: 100%
    }

    nav,
    .wrapper {
        padding: 10px 30px
    }

    #register {
        width: 100%
    }
}

@media(max-width: 424px) {
    body {
        width: fit-content
    }
}

@media(max-width: 375px) {
    .progress .progress-bar {
        width: 35%
    }

    body {
        width: fit-content
    }
}