<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

<div class="background">
    <app-location></app-location>

        <div class="side-menu">
            <!-- <a class="nav-link clickable" (click)="redirect('/dashboard/edit-profile')">
                <i class="fa fa-user" aria-hidden="true"></i> Profile</a >

            <a class="nav-link clickable" (click)="redirect('/dashboard/messages')">
                <i class="fas fa-utensils" aria-hidden="true"></i> Gerichte</a >

            <a class="nav-link clickable" (click)="redirect('/wishlist');">
                <i class="fas fa-list-ul" aria-hidden="true"></i> Bestellungen</a>

            <a class="nav-link clickable" (click)="redirect('/dashboard/your-reviews');">
                <i class="far fa-star" aria-hidden="true"></i> Bewertungen</a>

            <a class="nav-link clickable" (click)="redirect('/dashboard/your-ratings');">
                <i class="fa fa-comments" aria-hidden="true"></i> Nachrichten</a>
            
            <a class="nav-link clickable" (click)="redirect('/dashboard/history')">
                <i class="fas fa-file-invoice-dollar" aria-hidden="true"></i> Abrechnung</a>

            <a class="nav-link clickable" (click)="redirect('/dashboard/items-sale')">
                <i class="fas fa-user-cog" aria-hidden="true"></i> Einstellungen</a
                > -->
          <!-- <a class="nav-link clickable" (click)="redirect('/dashboard/settings')"
            >Settings</a> -->
      


        </div>


</div>