/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

.container {
  width: 100%;
  height: auto;
  background: #1A1F26;
  color: #EEE;
  padding: 16px !important;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-top: 32px;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.75);
}

.seller-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.container {
  margin-bottom: 32px !important;
}

.info-left {
  width: -webkit-calc(100% - 150px);
  width: calc(100% - 150px);
  margin-right: auto !important;
  white-space: nowrap;
}

.info-right {
  min-width: 150px;
  margin-left: auto !important;
  text-align: right;
}

.btn_user{
  background: #8BC34A !important;
  position: relative;
  bottom: 0px;
  transition: 0.25s;
  border-radius: 8px;
  color: white;
}

fa {
  color: #FFF;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

fa:hover {
  color: #541AD3 !important;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

/* Small devices (landscape phones, 368px and up) */
@media (max-width: 368px) {}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  form {
    margin-top: 24px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .container {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {}