

<div class="background"></div>

<div class="navigation_bar" style="overflow: hidden;">
  <img class="top_left_logo" src="/../../../assets/imgs/logo-white.png">
  <div class="top_text">Hier treffen Genießer auf lokale Hobby-Köche.</div>
  <img class="top_cook_logo" src="/../../../assets/imgs/logo-white1.png">
</div>

<div class="container parent-container">
  <div class="row">
      <div class="col-lg-5 col-12">
          <div style="max-height: 400px;">
            <app-item-carousel></app-item-carousel>
          </div>

          <div>
              <app-item-seller></app-item-seller>
          </div>
      </div>
      <div class="col-lg-7 col-12">
          <app-item-details></app-item-details>
         <!-- <div class="container feedback-container">
              <h4>Item Reviews</h4>
            <app-item-feedback></app-item-feedback>
          </div> -->
      </div>
  </div>
</div>
