<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

<div class="background">

  <div class="container parent-container">
   <div class="blacksquare">
      
      <img class=" centerlogo" src="../../../assets/imgs/logo-white.png">
    
    
        <div class="row">

          <div
      class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 mx-auto"
          >
      <h3>Login</h3>
      <!-- <div class=".alert  alert-danger" *ngIf="error">
        <span>{{ error }}</span>
      </div> -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            class="form-control"
          />
          <span
            *ngIf="
              !loginForm.get('email').valid && loginForm.get('email').touched
            "
            class="help-block"
            >Please enter a valid email!</span
          >
        </div>
        <div class="form-group">
          <label for="name">Password</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            class="form-control"
          />
          <span
            *ngIf="
              !loginForm.get('password').valid &&
              loginForm.get('password').touched
            "
            class="help-block"
          >
            <span *ngIf="loginForm.get('password').errors['required']"
              >This field is required!</span
            >
          </span>
        </div>
      

        <button class="btn login-btn" type="submit">Login text</button>

        <p>Passwort vergessen?</p>
        

        <button class="btn login-google"   type="submit"> <i class="fab fa-google"></i> Mit Google Fortfahren </button>
        <button class="btn login-facebook" type="submit"> <i class="fab fa-facebook-f"></i> Mit Facebook Fortfahren</button>
        <button class="btn login-apple"    type="submit"> <i class="fab fa-apple"></i> Mit Apple Fortfahren</button>

      </form>
    </div>
  </div>

</div>
</div>
<div class="dummy">
  <div
    class="{{
      error ? 'notifier notifier-show-anim' : 'notifier notifier-hide-anim'
    }}"
    *ngIf="error"
  >
    <div class="notifier-wrapper">
      <div class="notifier-text">
        {{ error }}
      </div>
    </div>
  </div>
</div>
</div>



