<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

<div class="background">
<app-location></app-location>

<div class="container-become-cook">
    <div class="become-cook-wrapper">
        <div class="info-title">
            Hier treffen Genießer auf lokale Hobby-Köche.
        </div>

        <div class="info-text">
            Du liebst es, zu kochen und möchtest deine Speisen auf BEIMAMI.de anbieten? <br> 
            Keine Ausbildung notwendig, sonder pure Leidenschaft. Melde dich an und leg los!
        </div>

        <a href="#" class="btn become-cook-button">
            <span class="fas fa-utensils fa-2x pull-left"></span> 
            <span class="btn-label">BEIMAMI.de </span>
            <span class="btn-caption">Koch werden</span>
            </a>

    </div>

    <div class="how-it-works">

        <div class="how-it-works-text">
            So einfach funktioniert BEIMAMI.de!
        </div>

        <div class="how-it-works-images">

            <div class="howto step1">
                <img src='/../../../assets/imgs/location-green.png' width="100" height="100">
                <br>Gib deinen Standort ein<br>und finde heraus,<br>wer was in deiner Nähe kocht.<br>
                <img src='/../../../assets/imgs/1.png' width="100" height="100">
            </div>

            <div class="howto step2">
                <img src='/../../../assets/imgs/meal-green.png' width="100" height="100">
                <br>Wähle deinen Favoriten aus<br>einer Vielzahl<br>von Speisen und Köchen.<br>
                <img src='/../../../assets/imgs/2.png' width="100" height="100">
            </div>

            <div class="howto step3">
                <img src='/../../../assets/imgs/food-delivery-green.png' width="100" height="100">
                <br>Zahle einfach per Paypal,<br> Kreditkarte, Klarna oder Bitcoin<br>und genieße deine Bestellung.<br>
                <img src='/../../../assets/imgs/3.png' width="100" height="100">
            </div>

        </div>

    </div>
    
</div>

    
</div>
