/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

/* You can add global styles to this file, and also import other style files */

@import url("assets/fonts/fontfaces.css");

:root {
  --header-background-color: #1a1f26;
  --header-text-color: #b4b4b4;
  --header-active-color: #ff6627;
}

body {
  background: #272d35;
}

.text-700 {
  font-weight: 700;
}

.parent-container {
  padding-top: 53px !important;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.clickable {
  cursor: pointer !important;
}

.notifier {
  z-index: 999;
  position: fixed;
  bottom: -10000px;
  overflow: hidden;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.33);
}

.notifier-show-anim {
  bottom: 48px;
  -webkit-animation-name: slide_up_notifier;
  animation-name: slide_up_notifier;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.notifier-hide-anim {
  -webkit-animation-name: slide_down_notifier;
  animation-name: slide_down_notifier;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

/* Standard syntax */
@-webkit-keyframes slide_up_notifier {
  from {
    bottom: -10000px;
  }

  to {
    bottom: 48px;
  }
}

@keyframes slide_up_notifier {
  from {
    bottom: -2000px;
  }

  to {
    bottom: 48px;
  }
}

@-webkit-keyframes slide_down_notifier {
  from {
    bottom: 20px;
  }

  to {
    bottom: -250px;
  }
}

@keyframes slide_down_notifier {
  from {
    bottom: 20px;
  }

  to {
    bottom: -250px;
  }
}

.notifier-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.notifier-text {
  white-space: nowrap;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: 48px;
  color: #fff;
  color: var(--white, #fff);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 0px 48px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.85em;
  font-weight: bold;
  background: -o-linear-gradient(315deg, #ff8973, #ff6997);
  background: linear-gradient(135deg, #ff8973, #ff6997);
}

.n-success {
  background: -o-linear-gradient(135deg,
      rgb(74, 224, 36),
      rgb(20, 139, 26)) !important;
  background: linear-gradient(315deg,
      rgb(74, 224, 36),
      rgb(20, 139, 26)) !important;
}

.btn.sold {
  background: rgb(255, 115, 21) !important;
  position: relative;
  bottom: 0px;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.btn.sold:hover {
  position: relative;
  bottom: 2px;
  background: rgb(255, 115, 21) !important;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.btn-view,
.btn-update,
.btn-delete,
.btn-orange,
.btn-purple {
  color: #FFF !important;
}

.btn.buy,
.btn-view {
  background: #8bc34a !important;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.btn-view:hover {
  background: #9cdb53 !important;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.btn-update,
.btn-orange {
  background: rgb(255, 115, 21) !important;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.btn-update:hover,
.btn-orage:hover {
  background: rgb(255, 153, 0) !important;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.btn-delete {
  background: rgb(180, 6, 6) !important;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.btn-delete:hover {
  background: rgb(223, 6, 6) !important;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.btn.buy:hover {
  margin-bottom: 2px;
  background: #9cdb53 !important;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.btn.rent,
.btn-purple {
  background: #541ad3 !important;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.btn-purple:hover {
  background: rgb(100, 28, 255) !important;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.btn.rent:hover {
  margin-bottom: 2px;
  background: rgb(100, 28, 255) !important;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}



.btn.view {}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1A1F26;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888888;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4e5864;
}

::selection {
  background: #541ad3
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #541ad3
  /* Gecko Browsers */
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #272d35 inset;
  /* Change the color to your own background color */
  -webkit-text-fill-color: #FFF;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px #272d35 inset;
  -webkit-text-fill-color: #fff;
}