
<div class="background"></div>

<div class="navigation_bar" style="overflow: hidden;">
  <img class="top_left_logo" src="/../../../assets/imgs/logo-white.png">
  <div class="top_text">Hier treffen Genießer auf lokale Hobby-Köche.</div>
  <img class="top_cook_logo" src="/../../../assets/imgs/logo-white1.png">
</div>


<div class="container parent-container">
  <div class="row">
    <div class="col-3">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-9">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Item Name</th>
            <th scope="col">Feedback</th>
            <th scope="col">Rating</th>
            <th scope="col">Buyer</th>
          </tr>
        </thead>
        <tbody>
          <tr>
<td>Mark</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
<td>Mark</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
<td>Mark</td>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
